$primary-color: #3498db;
$secondary-color: #2ecc71;
$off-white-color: #FFF;
$base-font-size: 16px;

$input-color: #000;
$input-background-color: transparent;
$input-padding: 10px;
$input-border-radius: 10px;
$input-border-color: rgb(1, 83, 214);
$input-border-size: $base-font-size * 0.15;
$input-font-size: 18px;
$input-placeholder-color: #7a7a7a;
$input-label-color: $input-border-color;